@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.file::-webkit-file-upload-button {
    background-color: 'currentcolor';
    border: none;
    border-radius: 50px;
    padding: 4px 12px 4px 12px;
    font-size: 0.8rem;
    color: 'currentcolor';
}
.file{
    font-size: 0.8rem;
    color: 'currentcolor';
}